$white: #FFF8F0;
$blue: #001E33;
$black: #00171F;
$orange: #FF8811;
$fontFamily:Apple;

@mixin upDownAnimation($duration,$iteration) {
    @keyframes hvr-icon-hang {
        0% {
          -webkit-transform: translateY(6px);
          transform: translateY(6px);
        }
        50% {
          -webkit-transform: translateY(2px);
          transform: translateY(2px);
        }
        100% {
          -webkit-transform: translateY(6px);
          transform: translateY(6px);
        }
      }

      animation: hvr-icon-hang $duration ease-in-out $iteration;
}

@mixin font-face($fontFamily) {
@font-face {
  font-family: $fontFamily;
  src:url("../Assets/fonts/System\ San\ Francisco\ Display\ Regular.ttf");
 }
}

@mixin icons ($font-size,$margin) {
  font-size: $font-size;
  margin: $margin;
}
